$primary_font:'Epilogue';
$secondary_font:'Fredoka';
$primary_color:#F3274C;
$secondary_color:#FFD40D;
$ternary_color:#b6b6b6;
$forth_color:#ffffff;
$primary_background:#f5f8fd;
$secondary_background:#f3264c;
$para_size:1em;
$main_heading:3.8em;
$small_heading:2.4em;
$padding_top:2.4rem;
$padding_bottom:2.4rem;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&family=Fredoka:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /*font-family:'Epilogue';
    font-family:'Fredoka';*/
    font-family: $secondary_font;
}

//Start first header//
.top-header{
    min-height: 50px;
    width:100%;
    background:$secondary_color;
    font-family:$secondary_font;
    font-weight:500;
    display:flex;
    justify-content: space-around;
    align-items: center;
    .contact{
        width:50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    .mobile-icon{
        background:$primary_color;
        text-align:center;
        height:30px;
        width:30px;
        line-height:30px;
        border-radius:50%;
        color:#ffffff;
    }
    .contact-content{
        padding-left:10px;
		font-weight:600;
		
    }
	.Email{
		font-weight: 600;
		&:hover{
			color:$primary_color;
		}
	}
    }
    .social{
        width:25%;
        display:flex;
        justify-content: space-around;
        a{
            color:#000000;
            text-align:center;
			&:hover{
				color:$secondary_background;
			}
        }
    }
    .login{
        width:25%;
        display:flex;
        justify-content: center;
        align-items:center;
        .contact-content{
            padding-left:10px;
			font-weight: 600;
			&:hover{
				color:$secondary_background;
			}
        }
		
    }
   @media(max-width:900px){
            .top-header{
                flex-direction:column;
            }
            .top-header .contact{
                width:100%;
            }
            .top-header .social{
                width:100%;
                justify-content: space-evenly;
            }
            .top-header .login{
                width:100%;
            }
   }
}
//End header first //

//Start header second //
.header-second{height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:$forth_color;
    border-bottom: 2px solid #000000;

    .logo{
        width:20%;
         background-color:$forth_color;
        text-align: center;
    }
    .Anchor{
        width:43%;
        display: inline-block;
    	font-size: 25px;
    	text-decoration: none;
        a{
            text-decoration: none;
            margin:0px 10px;
            color:#000000;
            font-weight:bold;
            padding:0px 10px 0px 0px;
        &:hover{
			color:$secondary_background;
			border-bottom:2px solid $primary_color;
		}
		}
		
    }
    .icon{
        span{
            margin:0px 20px;
            font-size:1.3rem;
        }	
    }
	.primary-buttton {
		padding: 15px 20px;
		background:$primary_color;
		color: white;
		display: inline-block;
		text-decoration: none;
		font-size: 15px;
		font-weight: 900;
		border-radius: 15px;
		position: relative;
		letter-spacing: 1px;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			width: 0%;
			height: 1%;
			background:white;
			top: 70%;
			left: 14%;
			transition: all 0.5s;
		}
		&:hover {
			&:after {
				width: 73%;
			}
			&:before {
				width:40%;
			}
		}
		&::before {
			content: "";
			border: 3px solid $primary_color;
			position: absolute;
			top: -13%;
			left: -5%;
			height: 115%;
			width: 85%;
			border-radius: 15px;
			z-index: -1;
			transition: all 0.5s;
		}
	}
}   

//header second end //
//start slider section//
.slide1{
	height: 400px;
	width: 100%;
	background: url(../images/services1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px 0px;
	position: relative;
	h1 {
		font-size: 50px;
		position: absolute;
		top: -150%;
		left: 6%;
		color:#000;
	}
	.h {
		height: 60px;
		width: 15%;
		border-radius:5px;
		padding:16px 21px;
		background-color:$secondary_background;
		position:absolute;
		top:50%;
		left:8%;
		a{
			font-size:18px;
			font-weight: 900;
			color:$forth_color;
			margin:0px 5px;
			text-decoration: none;
		}
		i{
			font-size:18px;
			font-weight: 900;
			color:$forth_color;
		}
	}
}
//start slide bottom section//


.get-touch {
	min-height: 800px;
	width: 100%;
	margin:50px 0px;
	.division1 {
		height: 700px;
		width: 85%;
		margin: 0px auto;
		display: flex;
		justify-content: center;
		gap: 20px;
		.left {
			height: 700px;
			width: 50%;
			h1 {
				font-size: 3em;
				font-weight: 900;
				padding: 30px 20px;
			}
			.top {
				height: 305px;
				width: 100%;
				display: flex;
				gap: 15px;
				.top-part1 {
					height: 261px;
					width: 50%;
					background: white;
					border: 5px solid $secondary_color;
					border-radius: 20px;
					position: relative;
					.icon {
						height: 80px;
						width: 80px;
						border-radius: 50%;
						background:$secondary_background;
						position: absolute;
						top: 15%;
						left: 40%;
						i{
							color:$forth_color;
							font-size:3.5rem;
							font-weight:bold;
							position:absolute;
							top:0;
							left:35%;
						}
					.envelope1{
							color:$forth_color;
							font-size:3rem;
							font-weight:bold;
							position:absolute;
							top:0;
							left:23%;
					}
					}
					h6 {
						position: absolute;
						left: 30%;
						top: 50%;
						color: $primary_color;
						font-size: 22px;
						font-weight: 600;
						text-transform: capitalize;
					}
					p{
						font-size:22px;
						font-weight:900;
						position:absolute;
						top:65%;
						left:6%;
					}
					h5 {
						position: absolute;
						left: 23%;
						top: 50%;
						color: $primary_color;
						font-size: 22px;
						font-weight: 600;
						text-transform: capitalize;
					}
				}
			}
			i{
				font-size:33px;
				font-weight:900;
				line-height: 30px;
				margin:25px 0px 0px 0px;
			}
			span{
				font-size:19px;
				color:$ternary_color;
				margin:0px 0px 0px 23px;
			}
		}
		.right {
			height: 700px;
			width: 50%;
			background: $forth_color;
			h1 {
				font-size: 3em;
				font-weight: 900;
				padding: 30px 20px;
			}
			p{
				font-size:19px;
				color:$ternary_color;
				line-height:30px;
				margin:0px 18px;
			}
			.int{
				width:42%;
				padding:20px 30px;
				margin:30px 20px;
				border-radius:10px;
				border:2px solid #ebf1fb;
				
			}
			::placeholder{
				font-size:25px;
				color:$ternary_color;
				font-weight:bold;
				text-align: left;
			}
			.mobile{
				width:92%;
				padding:20px 30px;
				margin:30px 20px;
				border-radius:10px;
				border:2px solid #ebf1fb;
				display:inline-block;
			}
			textarea{
				width:92%;
				padding:20px 30px;
				margin:30px 20px;
				border-radius:10px;
				border:2px solid #ebf1fb;
			}
			.primary-buttton {
				padding: 20px 25px;
				background:$primary_color;
				color: white;
				display: inline-block;
				text-decoration: none;
				font-size: 15px;
				font-weight: 900;
				border-radius: 15px;
				margin:0px 35px;
				position: relative;
				letter-spacing: 1px;
				z-index: 1;
				&::after {
					content: "";
					position: absolute;
					width: 0%;
					height: 1%;
					background:white;
					top: 70%;
					left: 14%;
					transition: all 0.5s;
				}
				&:hover {
					&:after {
						width: 73%;
					}
					&:before {
						width:40%;
					}
				}
				&::before {
					content: "";
					border: 3px solid $primary_color;
					position: absolute;
					top: -13%;
					left: -5%;
					height: 115%;
					width: 85%;
					border-radius: 15px;
					z-index: -1;
					transition: all 0.5s;
				}
			}
			}
		}
	}

//end slide bottom section//

//Start Video section in Contact us page//
	.video-section{
		height:750px;
		width:100%;
		margin:7em 0px 0px;
		position:relative;
		.video{
			height:600px;
			width:85%;
			margin:0px auto;
			border-radius:25px;	
		}
		.video-bottom{
			height:230px;
			width:75%;
			background:$secondary_background;
			margin:0px auto;
			border-radius:10px;
			position:absolute;
			bottom:2%;
			left:12%;
			.bottom-part{
				height:230px;
				width:90%;
				margin:0px auto;
				display:flex;
				justify-content: space-between;
				gap:10px;
				.part{
					height:230px;
					width:30%;
					h1{
						font-size:30px;
						font-weight: 900;
						padding:30px 10px 0px;
						text-align:center;
						color:$forth_color;
						text-transform: capitalize;
					}
					p{
						font-size:25px;
						font-weight: 900;
						padding:15px 10px 0px;
						text-align:center;
						color:$secondary_color;
						text-transform: capitalize;
					}
					h6{
						font-size:20px;
						font-weight:900;
						padding:15px 10px 0px;
						text-align:center;
						color:$forth_color;
						text-transform: capitalize;
					}
				}
			}
		}
	}
//End Video section in Contact us page//

//Start Footer Section//
.footer{
	height:600px;
	width: 100%;
	margin:50px 0px 0px;
	background-color:$primary_background;
	display: flex;

	.footer-1{
		width: 5%;	
	}
	.footer-2{
		height:420px;
		width: 30%;
		background-color:$secondary_background;
		margin: 4em .5em;
		border-radius:10px;
		img{
			padding:2rem 2rem 0px;
		}
	p{
		color: #fff;
		font-family: $secondary_font;
		margin:34px 20px 30px;
		font-size:19px;
		font-weight:600;
		line-height: 28px;
	}
	span{
		border-bottom:1px solid #fff;
	}
	h6{
		padding:1rem 2rem;
		font-size:19px;
		color:#fff;
	}
	}
	.footer-3{
		height:420px;
		width: 15%;
		margin: 4em 0.5em;
		h1{
			font-size:30px;
			margin:0px 53px;
			padding:1rem 0px 0px;
		}
		.hr{
			height: .3em;
			width: 5.5em;
			border:none;
			margin:0px 0px 0px 50px;
			background-color:$secondary_color;
		}
		p{
			font-size:20px;
			color:$ternary_color;
			font-family: $secondary_font;
			margin:30px 0px 0px 45px;
			line-height: 29px;
			font-weight:400;
		&:hover{
			color:$primary_color;
		}
		}
	}

	.footer-4{
		height:420px;
		width: 15%;
		margin: 4em 0.5em;
		h1{
			font-size:30px;
			margin:0px 50px;
		}
		.hr{
			height: .3em;
			width: 5.5em;
			border:none;
			margin:0px 0px 0px 45px;
			background-color:$secondary_color;
		}
		p{
			font-size:20px;
			color:$ternary_color;
			font-family: $secondary_font;
			margin:30px 0px 0px 45px;
			line-height: 29px;
			font-weight:400;
		&:hover{
			color:$primary_color;
		}
		}
	}

	.footer-5{
		height:400px;
		width:28%;
		margin: 4em 2em 0px 0px;
	h1{
		font-size: 30px;
		margin:0px 50px;
		padding:1rem 0px 0px;
		}
	.hr1{
			height: .3em;
			width: 9.5em;
			border:none;
			margin:0px 0px 0px 50px;
			background-color:$secondary_color;
		}
		p{
			font-size:20px;
			color:$ternary_color;
			font-family: $secondary_font;
			margin:30px 0px 0px 35px;
			line-height: 29px;
			font-weight:400;
		}
	input{
		font-size:20px;
		color:$ternary_color;
		font-family: $secondary_font;
		margin:30px 0px 0px 35px;
		line-height: 29px;
		font-weight:400;
		padding:10px 10px;
		width:340px;
		border-radius:10px;
		border:2px solid #ebf1fb;
	}
	.primary-buttton {
		padding: 20px 42px;
		background:$secondary_background;
		color:#fff;
		text-transform: capitalize;
		display: inline-block;
		text-decoration: none;
		font-size: 20px;
		font-weight: 900;
		border-radius: 15px;
		position: relative;
		top:10%;
		left:12%;
		letter-spacing: 1px;
		z-index: 1;
		&::after {
			content: "";
			position: absolute;
			width: 0%;
			height: 1%;
			background:$forth_color;
			top: 70%;
			left: 14%;
			transition: all 0.5s;
		}
		&:hover {
			&:after {
				width: 73%;
			}
			&:before {
				width:40%;
			}
		}
		&::before {
			content: "";
			border: 3px solid $secondary_background;
			position: absolute;
			top: -13%;
			left: -5%;
			height: 115%;
			width: 85%;
			border-radius: 15px;
			z-index: -1;
			transition: all 0.5s;
		}
	}
	

		}
	}
	.footer-6{
		height:450px;
		width: 5%;
		margin: 4em 0.5em;
	}


.bottom{
	height:5px;
	width:90%;
	border:none;
	text-align: center;
	margin:0px 0px 0px 70px;
	background-color:$secondary_color;
}
.copyright{
	height:180px;
	width:100%;
	position:relative;
	background:$primary_background;
	h6{
		margin:0px 0px 0px 70px;
		font-size:20px;
		padding:50px 0px 0px 0px;
		a{
			color:#000;
			text-decoration: none;
		}
	}

	.copy-heading{
		position: absolute;
		top: 16%;
		left: 40%;
		font-size: 20px;
		color:$ternary_color;
		font-weight: 500;
	}
	select{
		position:absolute;
		top:33%;
		left:40%;
		border:none;
		width:10%;
	}
	option{
		font-weight:bold;
		text-align:center;
		color:$ternary_color;
	}
	.pay-img{
		position: absolute;
		top:21%;
		left:68%;
	}
}
//End Footer Section//
